.selection-page {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'InterMedium', sans-serif;
}

.selection-container {
    width: 63vw;
    height: 75vh;
    display: flex;
}

.selection-img {
    width: 100%;
    height: 100%;
}